<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>test</title>
</head>
<body>
<a href="admin">Admin/Settings</a>
<form action="" method="post">
    {% csrf_token %}
    <button type="text" name="function" value="reload_toggl_data">Reload Data from Toggl</button>
    <button type="text" name="function" value="reload_ph">Collect Public Holidays from Web</button>
</form>

<div>
{% autoescape off %}
{{ plot_div }}
{% endautoescape %}
</div>

</body>
</html>
